@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.applayout {
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  overflow: hidden;
}

.main {
  width: 100%;
  height: inherit;
  margin: 0 auto;
  gap: 3.2rem;
  overflow: scroll;
  background-color: #f0f8ff;
}

.sideBar {
  /* padding: 2rem 1.2rem 1.2rem 2rem; */
  grid-row: 1/-1;
  display: flex;
  flex-direction: column;
  width: 256px;
  overflow: auto;
}

.nav.active {
  background-color: #f0f8ff;
}

.nav-set.active {
  background-color: #2e4d64;
}
